.header {
    display: flex;
    justify-content: space-between 80px;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 1000;
}

.container_first {
    margin: 0 auto;
    width: 1350px;
    height: 120px;
    padding-bottom: 200px;

}

.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
}

.header__menu > img {
    max-width: 100%;
}

.header__menu-icon {
    width: 20px;
}

.header__nav ul {
    display: flex;
    width: 347px;
    height: 19px;
    margin-top: 100px;

}


.header__nav-item {
    margin-right: 60px;
    font-size: 16;
    color: rgba(184, 190, 205, 1);
    margin-left: 30px;
}

.header__logo {
    margin-top: 87px;
    margin-left: 350px;
}


.header__login {
    width: 132px;
    height: 40px;
    border-radius: 8px;
    background-color: #fefefe;
    border-color: #FB8F1D;
    border: 1px solid #FB8F1D;
    margin-top: 90px;
    margin-left: 200px;
    color: #FB8F1D;
    padding-right: 40px;
    padding-left: 40px;
}

.header__register {
    width: 132px;
    height: 40px;
    border-radius: 8px;
    background-color: #FB8F1D;
    color: #fefefe;
    border-style: hidden;
    margin-top: 90px;
    margin-right: 125px;
    margin-left: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

@media screen and (max-width: 320px) {

    .container_first {
        margin: 0 auto;
        width: 1350px;
        height: 120px;
        padding-bottom: 10px;
    
    }
    .header {
        position: fixed;
        left: 0px;
        right: 0;
        padding: 20px;
        background-color: white;
        z-index: 3000;
    }

    .header__menu {
        display: block;
    }

    .header__logo {
        display: none;
    }

    .header__nav {
        background: rgb(240, 239, 239);
        position: fixed;
        top: 100px;
        left: 20px;
        right: 0px;
        bottom: 0;
        margin-top: 0;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }

    .header__nav.open {
        clip-path: circle(700px at top);
    }

    .header__nav ul {
        flex-direction: column;
        height: 20%;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
        margin-left: 80px;
    }

    .header__nav .header__nav-item {
        margin-right: 0;
        padding-top: 10vh;
        flex: 1;
    }

    .header__nav a {
        font-weight: 500;
        display: block;
        font-size: 32px;
    }

    .header__login {
        
    margin-top: 0px;
    margin-left: 60px;
    padding-right: 40px;
    padding-left: 40px;
    padding-left: 34px;

    width: 100px;
    }

    .header__register {
        position: center;
        margin-top: 0px;
        
        margin-left: 10px;
        padding-right: 40px;
        padding-left: 40px;
        padding-left: 30px;
        width: 100px;

    }

    .burger {
        display: block;
        padding-left: 20px;
        z-index: 4000;
        
    }
}

@media screen and (min-width: 2560px) {
    .container_first {
        width: 2560px;
        height: 120px;
        margin: 0 auto;
    
    }

    .header {
        width: 2560px;
        height: 140px;
    }

    .header__nav-item {
        font-size: 30px;
    }

    .header__logo {
        padding-left: 800px;
        margin-top: 87px;
        margin-left: 300px;
        padding-right: 100px;
    }
    
    .header__login {
        width: 200px;
        height: 60px;
        border-radius: 10px;
        background-color: #fefefe;
        border-color: #FB8F1D;
        border: 1px solid #FB8F1D;
        margin-top: 70px;
        margin-left: 500px;
        color: #FB8F1D;
        padding-right: 50px;
        padding-left: 50px;
        font-size: 30px;
    }

    .header__register {
        width: 200px;
        height: 60px;
        border-radius: 10px;
        background-color: #FB8F1D;
        color: #fefefe;
        border-style: hidden;
        margin-top: 70px;
        margin-right: 125px;
        margin-left: 20px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 30px;
    }

    
}